* {
  font-family: 'Mukta', sans-serif; }

a {
  text-decoration: none; }

.card-level-escuela {
  height: auto;
  padding: 10% 20%; }

.principiante-card {
  grid-area: principiante; }

.intermedio-card {
  grid-area: intermedio; }

.avanzado-card {
  grid-area: avanzado; }

.levels {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 100px 0;
  height: auto;
  width: auto; }

.level-card:hover {
  transform: translateY(-20px);
  transition: all 0.4s ease; }

.card-level-escuela-borde {
  box-shadow: 2px 4px 10px #023047; }

.level-title {
  margin-left: 150px; }

.card-image {
  width: auto;
  height: 300px;
  object-fit: cover;
  box-shadow: 2px 4px 10px black; }
  .card-image:hover {
    transform: translateY(-5px);
    transition: all 0.4s ease; }

.card-trips {
  height: 200px;
  width: 100%;
  padding: 50px 0 50px; }

.card-trips-custom {
  display: flex;
  justify-content: flex-start;
  padding: 7% 30% 3% 20%;
  background-image: url("../imagenes/kite bote.jpg");
  background-size: cover;
  height: 1145px;
  width: auto;
  background-position: bottom; }
  @media screen and (max-width: 768px) {
    .card-trips-custom {
      padding: 30% 10% 3% 10%; } }

.border-card-trips {
  border: solid 1px #023047;
  border-radius: 0.375rem;
  box-shadow: 2px 4px 10px #023047;
  height: auto; }
  .border-card-trips:hover {
    transform: translateY(-20px);
    transition: all 0.4s ease; }

.border-card-next-trips {
  border: solid 1px #023047;
  border-radius: 0.375rem;
  box-shadow: 2px 4px 10px #023047;
  margin-top: 50px;
  height: auto; }
  .border-card-next-trips:hover {
    transform: translateY(-20px);
    transition: all 0.4s ease; }

.card-body-custom {
  background-color: white; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #023047;
  height: auto;
  width: auto;
  align-items: center; }
  footer .redes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 0; }
  footer .registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 100px;
    color: fff; }
    footer .registro button {
      height: 50px;
      width: 100px; }

.footer__logo {
  height: 150px;
  width: auto;
  padding: 25px 10px; }

.social__network {
  height: 50px; }

.registrate-button {
  margin-left: 250px; }

@media screen and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column; }
    footer .redes {
      padding: 0px 0px 24px 0; }
    footer .registro {
      padding-right: 0;
      text-align: center; }
  .registrate-button {
    height: 50px;
    width: 100px;
    margin: auto; } }

.footer-escuela {
  grid-area: footer;
  grid-column: span 3; }

.header-custom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  width: 100vw; }

.header-custom__navbar {
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .header-custom__navbar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    width: 100%; }
    .header-custom__navbar ul li {
      padding: 20px 30px; }

@media screen and (max-width: 768px) {
  .navbar-collapse-custom {
    background-color: black;
    opacity: 70%; } }

.header__logo {
  height: 80px;
  width: 80px;
  padding: 10px 10px; }

.nav-index-custom {
  width: 100vw;
  background-color: transparent !important;
  position: fixed;
  z-index: 10000;
  color: #fff; }
  .nav-index-custom ul {
    display: flex;
    justify-content: flex-start !important; }

.navbar-toggler-custom {
  border: none; }

.header-logo-custom {
  width: 100;
  height: auto;
  padding-left: 20px; }

.nav-link-custom {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  color: #fff;
  font-size: large; }

.header-escuela {
  grid-area: header;
  grid-column: span 3; }

.main-custom {
  margin-top: 0; }

.main__imagen {
  width: 100%;
  height: 100%; }

.main-trips {
  padding: 130px 11% 30px 25%; }

.myvideo-custom {
  width: 100%; }

.contenedor-video {
  position: relative; }

.content-myvideo {
  top: -600px;
  left: 30%;
  color: #fff;
  font-size: xx-large;
  position: absolute; }

.video-background-custom {
  background-image: url("../imagenes/video index.mp4");
  width: 100%;
  height: 100vh;
  background-size: cover; }

@media screen and (max-width: 768px) {
  .content-myvideo {
    left: 12%;
    font-size: large; } }

.img-carousel-custom {
  width: 100%;
  height: 700px;
  object-fit: cover; }

.text-carousel-custom {
  color: white;
  font-size: xx-large;
  font-weight: bold;
  background-color: black;
  opacity: 0.5; }

.text-carousel-custom-white {
  color: white;
  font-size: xx-large;
  font-weight: bold;
  background-color: black;
  opacity: 0.5; }

@media screen and (max-width: 768px) {
  .img-carousel-custom {
    height: 768px; }
  .text-carousel-custom-white {
    font-size: large; }
  .text-carousel-custom {
    font-size: large; }
  .myvideo-custom {
    width: auto;
    height: 63%; } }

#nosotros {
  width: 100%;
  height: 100%; }
  #nosotros .nosotros-contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 100px; }

#nosotros
.nosotros-image {
  height: 500;
  width: 700; }

.nosotros-image {
  background-image: url(../imagenes/pexels-jean-van-der-meulen-1559392.jpg);
  background-size: cover;
  padding: 20% 20%;
  height: 100vh; }

.nosotros-background {
  background-color: #fff;
  opacity: 90%;
  border-radius: 0.375rem;
  padding: 20px 30px;
  box-shadow: 2px 4px 10px #023047; }

.trips {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0; }

.videos-trips {
  margin: 12% 20% 0px; }

.trip-image {
  height: 200px;
  width: 100%; }

.card-trips-button {
  width: 100%; }

.proximos-trips {
  margin-top: 12%; }

.trips-realizados {
  margin-top: 0; }

#body-escuela {
  margin: 0; }

.escuela-main {
  background-image: url("../imagenes/kitee caribe.jpg");
  background-size: cover;
  background-position: center;
  height: 110%; }

.escuela-title {
  position: relative;
  top: 15%;
  left: 3%;
  color: #fff; }

/*
.contenedor{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:    
    "header header header"
    "contenido contenido contenido"
    "principiante intermedio avanzado"
    "footer footer footer";
}


.contenido{
    grid-area: contenido;
    grid-column: span 3;
    background-color: rgb(65, 206, 204);
    color: #fff;
    h2{
        padding-left: 10px;
    }

}
.contenido{
    @media screen and (max-width: 768px){
        .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: 
        "header "
        "contenido"
        "principiante"
        "intermedio"
        "avanzado"
        "footer";
        }
    }

    .level-card{
        padding: 0;
        width: 100vw;
    }
    .card-image{
        width: 100vw;
    }
    .contenido h2{
        text-align: center;
    }
    .nav-link-custom{
        background-color: black;
        opacity: 0.7;
        justify-content: center;
    }
}
*/
@media screen and (max-width: 768px) {
  #body-escuela {
    height: 1638px; }
  .escuela-title {
    top: 3%;
    left: 24%; } }

.form-section {
  padding: 130px 25% 30px 25%;
  background-image: url("../imagenes/piso.png");
  background-size: cover;
  background-position: center; }

.form-section-background {
  background-color: white;
  border-radius: 0.375rem;
  padding: 10px 20px;
  opacity: 90%; }

.contacto-image {
  object-fit: cover;
  width: 100%;
  height: 100vh; }

.form-custom {
  background-color: transparent; }
