* {
  font-family: 'fugaz one', sans-serif;
  text-transform: uppercase; }

a {
  text-decoration: none; }

.card-level-escuela {
  height: auto;
  padding: 0% 20%;
  width: 100%; }

.principiante-card {
  grid-area: principiante; }

.intermedio-card {
  grid-area: intermedio; }

.avanzado-card {
  grid-area: avanzado; }

.levels {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 100px 0;
  height: auto;
  width: auto; }

.level-card {
  transition: all 0.4s ease; }
  .level-card:hover {
    transform: translateY(-20px);
    transition: all 0.4s ease; }

.card-level-escuela-borde {
  box-shadow: 2px 4px 10px #023047;
  cursor: pointer; }

.level-title {
  margin-left: 150px; }

.card-image {
  width: auto;
  height: 300px;
  object-fit: cover;
  box-shadow: 2px 4px 10px black; }
  .card-image:hover {
    transform: translateY(-5px);
    transition: all 0.4s ease; }

.card-trips {
  height: 200px;
  width: 100%;
  padding: 50px 0 50px; }

.card-trips-custom {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: space-evenly;
  padding: 4% 30% 3% 20%; }

.border-card-trips {
  border: solid 1px #023047;
  border-radius: 0.375rem;
  box-shadow: 2px 4px 10px #023047;
  height: auto;
  cursor: pointer;
  transition: all 0.4s ease; }
  .border-card-trips:hover {
    transform: translateY(-20px);
    transition: all 0.4s ease; }

.border-card-next-trips {
  border: solid 1px #023047;
  border-radius: 0.375rem;
  box-shadow: 2px 4px 10px #023047;
  margin-top: 50px;
  height: auto;
  cursor: pointer;
  transition: all 0.4s ease; }
  .border-card-next-trips:hover {
    transform: translateY(-20px);
    transition: all 0.4s ease; }

.card-body-custom {
  background-color: white; }

@media screen and (max-width: 768px) {
  .card-trips-custom {
    padding: 10% 10% 3% 10%; }
  .card-level-escuela {
    padding: 0% 16%;
    margin-left: 0%; } }

footer {
  display: flex;
  flex-direction: column;
  background-color: #023047;
  height: 40%;
  width: 100%; }
  footer .derechos {
    color: #fff;
    font-size: small;
    padding-left: 30%;
    padding-right: 38%; }

.footer-contenido {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 6%; }
  .footer-contenido .redes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 156px;
    margin: 56px 0;
    border-left: solid 3px #fa0;
    border-right: solid 3px #fa0; }
  .footer-contenido .registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: fff;
    width: 33%; }
    .footer-contenido .registro h3 {
      font-size: large; }
    .footer-contenido .registro button {
      height: 50px;
      width: 100px; }

.footer__logo {
  height: 150px;
  width: auto;
  padding: 25px 10px; }

.social__network {
  height: 50px; }

.registrate-button {
  margin-left: 124px; }

@media screen and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    height: 65%; }
    footer .derechos {
      padding: 7% 6% 0%; }
    footer .footer-contenido {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0; }
      footer .footer-contenido .registro {
        padding-right: 0;
        text-align: center;
        width: 100%; }
        footer .footer-contenido .registro .registrate-button {
          height: 50px;
          width: 100px;
          margin: auto; }
      footer .footer-contenido .redes {
        padding: 50px 0px;
        border-left: 0;
        border-right: 0;
        border-top: solid 2px #fa0;
        border-bottom: solid 2px #fa0; }
  .footer-escuela {
    height: 36%; } }

.header-custom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  width: 100vw; }

.header-custom__navbar {
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .header-custom__navbar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    width: 100%; }
    .header-custom__navbar ul li {
      padding: 20px 30px; }

.header__logo {
  height: 80px;
  width: 80px;
  padding: 10px 10px; }

.nav-index-custom {
  width: auto;
  background-color: transparent !important;
  position: absolute;
  z-index: 10000;
  color: #fff; }
  .nav-index-custom ul {
    display: flex;
    justify-content: flex-start !important; }

.navbar-toggler-custom {
  border: none; }

.header-logo-custom {
  width: 100;
  height: auto;
  padding-left: 20px; }

.nav-link-custom {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  color: #fff;
  font-size: large; }

.header-escuela {
  grid-area: header;
  grid-column: span 3; }

@media screen and (max-width: 768px) {
  .navbar-collapse-custom {
    background-color: black;
    opacity: 70%; }
  .nav-index-custom {
    width: 100vw; } }

.main-custom {
  margin-top: 0; }

.main__imagen {
  width: 100%;
  height: 100%; }

.main-trips {
  padding: 130px 11% 30px 25%; }

.myvideo-custom {
  width: 100%; }

.contenedor-video {
  position: relative; }

.content-myvideo {
  top: 20%;
  left: 15%;
  color: #fff;
  font-size: xx-large;
  position: absolute; }
  .content-myvideo h1 {
    font-size: 137px;
    text-shadow: 2px 3px #023047; }
  .content-myvideo h2 {
    font-size: 137px;
    color: #023047;
    text-shadow: 4px 6px #fff; }
  .content-myvideo p {
    text-shadow: 2px 3px #023047; }

.video-background-custom {
  background-image: url("../imagenes/video index.mp4");
  width: 100%;
  height: 100vh;
  background-size: cover; }

@media screen and (max-width: 768px) {
  .myvideo-custom {
    width: 100vw;
    height: 76%;
    object-fit: cover; }
  .content-myvideo {
    left: 0;
    text-align: center; }
    .content-myvideo h1 {
      font-size: 44px; }
    .content-myvideo h2 {
      font-size: 105px;
      text-shadow: 3px 3px #fff;
      line-height: 106px; }
    .content-myvideo p {
      font-size: large;
      padding-top: 23px; } }

#nosotros {
  width: 100%;
  height: 100%; }
  #nosotros .nosotros-contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 100px; }

#nosotros
.nosotros-image {
  height: 500;
  width: 700; }

.nosotros-image {
  background-image: url(../imagenes/pexels-jean-van-der-meulen-1559392.jpg);
  background-size: cover;
  padding: 20% 20%;
  height: 100vh; }

.nosotros-background {
  background-color: #fff;
  opacity: 90%;
  border-radius: 0.375rem;
  padding: 20px 30px;
  box-shadow: 2px 4px 10px #023047;
  transition: all 0.4s ease; }
  .nosotros-background:hover {
    transform: scale(1.2);
    transition: all 0.4s ease; }

@media screen and (max-width: 768px) {
  .nosotros-image {
    background-position: -600px; }
  .nosotros-background {
    position: relative;
    top: 15%;
    left: -18%;
    width: 138%;
    height: 65%; }
    .nosotros-background:hover {
      transform: scale(1.1); } }

.trips-main {
  background-image: url("../imagenes/kite bote.jpg");
  background-size: cover;
  height: 140%;
  background-position: bottom; }

.trips {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0; }

.videos-trips {
  margin: 12% 20% 0px; }

.trip-image {
  height: 200px;
  width: 100%; }

.card-trips-button {
  width: 100%; }

.proximos-trips {
  margin-top: 12%; }

.trips-realizados {
  margin-top: 0; }

.trips-contenido {
  position: relative;
  top: 11%; }

.trips-title {
  position: relative;
  top: 15%;
  left: 3%;
  color: #fff;
  width: 97%; }
  .trips-title h1 {
    text-shadow: 2px 2px #023047; }
  .trips-title p {
    text-shadow: 1px 1px #023047; }

@media screen and (max-width: 768px) {
  .trips-title {
    top: 3%;
    text-align: center; }
  .trips-main {
    background-image: url("../imagenes/kite bote.jpg");
    background-size: cover;
    height: 102%;
    background-position: none;
    background-position-x: 657px; } }

#body-escuela {
  margin: 0; }

.escuela-main {
  background-image: url("../imagenes/kitee caribe.jpg");
  background-size: cover;
  background-position: center;
  height: 110%; }

.escuela-contenido {
  position: relative;
  top: 14%; }

.escuela-title {
  position: relative;
  top: 15%;
  left: 3%;
  color: #fff;
  width: 97%; }
  .escuela-title h1 {
    text-shadow: 2px 2px #023047; }
  .escuela-title p {
    text-shadow: 1px 1px #023047; }

@media screen and (max-width: 768px) {
  #body-escuela {
    height: 1638px; }
  .escuela-title {
    top: 3%;
    left: 0;
    text-align: center; }
  .escuela-contenido {
    top: 6%; } }

.form-section {
  padding: 130px 25% 30px 25%;
  background-image: url("../imagenes/piso.png");
  background-size: cover;
  background-position: center; }

.form-section-background {
  background-color: white;
  border-radius: 0.375rem;
  padding: 10px 20px;
  opacity: 90%; }

.contacto-image {
  object-fit: cover;
  width: 100%;
  height: 100vh; }

.form-custom {
  background-color: transparent; }

@media screen and (max-width: 768px) {
  .form-section-background {
    width: 148%;
    position: relative;
    left: -22%; } }
