/*HOME*/

*{
    font-family: 'Mukta', sans-serif;
}
a{
    text-decoration: none;
}

.header-custom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    width: 100vw;
}

.header-custom__navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header-custom__navbar ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    width: 100%;
}

.header-custom__navbar ul li{
    padding: 20px 30px;
}

.header__logo{
    height: 80px;
    width: 80px;
    padding: 10px 10px;
}

.nav-index-custom{
    width: 100vw;
    background-color: transparent !important;
    position: fixed;
    z-index: 10000;
    color: white
}

.nav-index-custom ul{
    display: flex;
    justify-content: flex-start !important;
}

.navbar-toggler-custom{
    border:none;
}
.header-logo-custom{
    width: 100;
    height: auto;
    padding-left: 20px;
}

.nav-link-custom{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    color: white;
    font-size: large;
}

.main-custom{
    margin-top: 0;
}
.img-carousel-custom{
    width: 100%;
    height: 700px;
    object-fit: cover;
    

}

.text-carousel-custom{
    color: white;
    font-size: xx-large;
    font-weight: bold;
    background-color: black;
    opacity: 0.5;
    
}

.text-carousel-custom-white{
    color: white;
    font-size: xx-large;
    font-weight: bold;
    background-color: black;
    opacity: 0.5;
    
}

.main__imagen{
    width: 100%;
    height: 100%;

}
main{
    background-color: #188d98;
}

@media screen and (max-width: 768px){
    .img-carousel-custom{
        height: 768px;
    }
    .text-carousel-custom-white{
        font-size: large;
    }
    .text-carousel-custom{
        font-size: large;
}
}


/*SOBRE NOSOTROS*/

#nosotros{
    width: 100%;
    height: 100%;

}

#nosotros .nosotros-contenido{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 100px;
}

#nosotros div p{
    
}

.nosotros-image{
height: 500;
width: 700;
}


/*ESCUELA DE KITE SURF*/

#body-escuela{
    margin: 0;
}
.contenedor{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:    
    "header header header"
    "contenido contenido contenido"
    "principiante intermedio avanzado"
    "footer footer footer";
}

.header-escuela{
    grid-area: header;
    grid-column: span 3;

}
.contenido{
    grid-area: contenido;
    grid-column: span 3;
    background-color: rgb(65, 206, 204);
    color: #fff;
    

}
.contenido h2{
    padding-left: 10px;
}

.principiante-card{
    grid-area: principiante;
}
.intermedio-card{
    grid-area: intermedio;
}
.avanzado-card{
    grid-area: avanzado;
}
.footer-escuela{
    grid-area: footer;
    grid-column: span 3;
}


.levels{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
   justify-content: center;
    padding: 100px 0;
    height: auto;
    width: auto;
}



.level-card{

  
    height: auto;
    width: 400px;
   padding: 50px 50px;
   background-image: linear-gradient(to bottom, lightskyblue, white);
}

.level-title{
    margin-left: 150px;
}

.card-image{
    width: auto;
    height: 300px;
    
    object-fit: cover;
    box-shadow: 2px 4px 10px black;
}

.card-image:hover{
    transform: translateY(-5px);
    transition: all 0.4s ease;

}
@media screen and (max-width: 768px){
    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: 
        "header "
        "contenido"
        "principiante"
        "intermedio"
        "avanzado"
        "footer";
    }

    .level-card{
        padding: 0;
        width: 100vw;
    }
    .card-image{
        width: 100vw;
    }
    .contenido h2{
        text-align: center;
    }
}




/*KITE SURF TRIPS*/




.trips{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 300px;
}

.videos-trips{
   margin: 30px 200px;
}

.card-trips{
    height: 200px;
    width: 700px;
    padding: 50px 0 50px;
}

.trip-image{
    height: 200px;
    width: 700px;
}


/*CONTACTANOS*/

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 1000px;
    margin-left: 100px      ;
}


/*FOOTER*/

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #97e0e7;
    height: auto;
    width: auto;
    align-items: center;
}

.footer__logo{
        height: 150px;
        width: auto;
        padding: 25px 10px;
}

.social__network{
height: 50px;
}

footer .redes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 0;
}

footer .registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 100px;
}

footer .registro button{
    height: 50px;
    width: 100px;
}

.registrate-button{
    margin-left: 250px;
}

@media screen and (max-width: 768px){
    footer{
    display: flex;
    flex-direction: column;
}
footer .redes{
    padding: 0px 0px 24px 0;
}
footer .registro{
    padding-right: 0;
    text-align: center;
}
.registrate-button{
    height: 50px;
    width: 100px;
    margin: auto;
}
}