// BASE
@import './base/typography.scss';
@import './base/colors.scss';
@import './base/reset.scss';
// COMPONENTS
@import './components/cards.scss';
// LAYOUT
@import './layout/footer.scss';
@import './layout/header.scss';
@import './layout/main.scss';
//VIEWS
@import './views/index.scss';
@import './views/nosotros.scss';
@import './views/kitetrips.scss';
@import './views/escuela.scss';
@import './views/contacto.scss';