footer{
    display: flex;
    flex-direction: column;
    background-color: #023047;
    height: auto;
    width: 100%;
    .derechos{
        color: #fff;
        font-size: small;
        padding-left: 30%;
        padding-right: 38%;
        p{
            text-align: center;
        }
    }
}
.footer-contenido{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 6%;
    .redes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 50px 156px;
        margin: 56px 0;
        border-left: solid 3px #fa0;
        border-right: solid 3px #fa0;
    }
    .registro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: fff;
        width: 33%;
        h3{
            font-size: large;
        }
        button{
            height: 50px;
            width: 100px;
        }
    }
}
.footer__logo{
        height: 150px;
        width: auto;
        padding: 25px 10px;
}
.social__network{
height: 50px;
}
.registrate-button{
    margin-left: 124px;
}
@media screen and (max-width: 768px){
    footer{
    display: flex;
    flex-direction: column;
    height: auto;
        .derechos{
            padding: 7% 2% 0%;
        }
        .footer-contenido{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-left: 0;
                .registro{
                    padding-right: 0;
                    text-align: center;
                    width: 100%;
                    .registrate-button{
                        height: 50px;
                        width: auto;
                        margin: auto;
                    }
                }
                .redes{
                    padding: 50px 0px;
                    border-left: 0;
                    border-right: 0;
                    border-top: solid 2px #fa0;
                    border-bottom: solid 2px #fa0;
                }
        }
    }
    .footer-escuela{
        height: auto;

    }
}