.header-custom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    width: 100vw;
}

.header-custom__navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        list-style-type: none;
        width: 100%;
        li{
            padding: 20px 30px;
        }
    }
}
@media screen and (max-width: 768px){
    .navbar-collapse-custom{
        background-color: black;    
        opacity: 70%;
}
}



.header__logo{
    height: 80px;
    width: 80px;
    padding: 10px 10px;
}

.nav-index-custom{
    width: 100vw;
    background-color: transparent !important;
    position: fixed;
    z-index: 10000;
    color: #fff;
    ul{
        display: flex;
        justify-content: flex-start !important;
    }
}

.navbar-toggler-custom{
    border:none;
}
.header-logo-custom{
    width: 100;
    height: auto;
    padding-left: 20px;
}

.nav-link-custom{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    color: #fff;
    font-size: large;
}

.header-escuela{
    grid-area: header;
    grid-column: span 3;

}