.card-level-escuela{
    height: auto;
    padding: 0% 20%;
    width: 100%;
}
.levels{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
   justify-content: center;
    padding: 100px 0;
    height: auto;
    width: auto;
}
.level-card{
    transition: all 0.4s ease;
    &:hover{
        transform: translateY(-20px);
        transition: all 0.4s ease;}
}
.card-level-escuela-borde{
    box-shadow: 2px 4px 10px #023047;
    cursor: pointer;
}
.level-title{
    margin-left: 150px;
}
.card-image{
    width: auto;
    height: 300px;
    object-fit: cover;
    box-shadow: 2px 4px 10px black;
    &:hover{
        transform: translateY(-5px);
        transition: all 0.4s ease;
    }
}
.card-trips{
    height: 200px;
    width: 100%;
    padding: 50px 0 50px;
}
.card-trips-custom{
    background-color: transparent;
    border: none;
   display: flex;
   justify-content: space-evenly;
    padding: 4% 30% 3% 20%;
}
.border-card-trips{
    border: solid 1px #023047;
    border-radius: 0.375rem;
    box-shadow: 2px 4px 10px #023047;
    height: auto;
    cursor: pointer;    
    transition: all 0.4s ease;
    &:hover{
        transform: translateY(-20px);
        transition: all 0.4s ease;
    }
}
.border-card-next-trips{
    border: solid 1px #023047;
    border-radius: 0.375rem;
    box-shadow: 2px 4px 10px #023047;
    margin-top: 50px;
    height: auto;
    cursor: pointer;
    transition: all 0.4s ease;
    &:hover{
        transform: translateY(-20px);
        transition: all 0.4s ease;
    }
}
.card-body-custom{
    background-color: white;
}
@media screen and (max-width: 768px){
    .card-trips-custom{
    padding: 10% 10% 3% 10%
}
    .card-level-escuela{
        padding: 0% 16%;
        margin-left: 0%;
    }
}   
