#body-escuela{
    margin: 0;
}
.escuela-main{
    background-image: url("../imagenes/kitee\ caribe.jpg");
    background-size: cover;
    background-position: center;
    height: 110%;
}
.escuela-contenido{
    position: relative;
    top: 14%;
}
.escuela-title{
position: relative;
top: 15%;
left: 3%;
color: #fff;
width: 97%;
    h1{
    text-shadow: 2px 2px #023047;
        }
    p{
    text-shadow: 1px 1px #023047;    
        }
}
@media screen and (max-width: 768px){
    #body-escuela{
    height: 1638px;}
    .escuela-title{
        top: 3%;
        left: 0;
        text-align: center;
        }
    .escuela-contenido{
        top: 6%;
    }
    }