#body-escuela{
    margin: 0;
}
.escuela-main{
    background-image: url("../imagenes/kitee\ caribe.jpg");
    background-size: cover;
    background-position: center;
    height: 110%;
}
.escuela-title{
position: relative;
top: 15%;
left: 3%;
color: #fff;
}
/*
.contenedor{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:    
    "header header header"
    "contenido contenido contenido"
    "principiante intermedio avanzado"
    "footer footer footer";
}


.contenido{
    grid-area: contenido;
    grid-column: span 3;
    background-color: rgb(65, 206, 204);
    color: #fff;
    h2{
        padding-left: 10px;
    }

}
.contenido{
    @media screen and (max-width: 768px){
        .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: 
        "header "
        "contenido"
        "principiante"
        "intermedio"
        "avanzado"
        "footer";
        }
    }

    .level-card{
        padding: 0;
        width: 100vw;
    }
    .card-image{
        width: 100vw;
    }
    .contenido h2{
        text-align: center;
    }
    .nav-link-custom{
        background-color: black;
        opacity: 0.7;
        justify-content: center;
    }
}
*/