.body-index{
    height: 114%;
}
.myvideo-custom{
    width: 100%;
   
}
.contenedor-video{
    position: relative;
}
.content-myvideo{
    top: 20%;
    left: 15%;
    color: #fff;
    font-size: xx-large;
    position: absolute;
    h1{
        font-size: 137px;
        text-shadow: 2px 3px #023047;
    }
    h2{
        font-size: 137px;
        color: #023047;
        text-shadow: 4px 6px #fff;
    }
    p{
        text-shadow: 2px 3px #023047;
    }
    }
.video-background-custom{
    background-image: url("../imagenes/video\ index.mp4");
    width: 100%;
    height: 100vh;
    background-size: cover;
}
@media screen and (max-width: 768px){
    .myvideo-custom{
    width: 100vw;
    height: 76%;
    object-fit: cover;
    }
    .content-myvideo{
        left: 0;
        text-align: center;
        h1{
            font-size: 44px;
        }
        h2{
            font-size: 105px;
            text-shadow: 3px 3px #fff;
            line-height: 106px;
        }
        p{
            font-size: large;
            padding-top: 23px;
        }
    }
}