.trips{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
}
.videos-trips{
   margin: 12% 20% 0px; 
}
.trip-image{
    height: 200px;
    width: 100%;
}
.card-trips-button{
    width: 100%;
}
.proximos-trips{
    margin-top: 12%
}
.trips-realizados{
    margin-top: 0;
}
