.trips{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 300px;
}

.videos-trips{
   margin: 30px 200px;
}



.trip-image{
    height: 200px;
    width: 700px;
}