#nosotros{
    width: 100%;
    height: 100%;
    .nosotros-contenido{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 100px;
    }
}
#nosotros 
.nosotros-image{
height: 500;
width: 700;
}
.nosotros-image{
    background-image: url(../imagenes/pexels-jean-van-der-meulen-1559392.jpg);
    background-size: cover;
    padding: 20% 20%;
    height: 100vh
}
.nosotros-background{
    background-color: #fff;
    opacity: 90%;
    border-radius: 0.375rem;
    padding: 20px 30px;
    box-shadow: 2px 4px 10px #023047;
    transition: all 0.4s ease;
    &:hover{
        transform: scale(1.2);
        transition: all 0.4s ease;
    
    }
}
@media screen and (max-width: 768px){
    .nosotros-image{
        background-position: -600px;
    }
    .nosotros-background{
        position: relative;
        top: 15%;
        left: -18%;
        width: 138%;
        height: 65%;
        &:hover{
            transform: scale(1.1);
        }
    }
}