#nosotros{
    width: 100%;
    height: 100%;
    .nosotros-contenido{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 100px;
    }
}

#nosotros 


.nosotros-image{
height: 500;
width: 700;
}